
html {
    font-size: 62.5%;
    background-color: #D33257;
    color: #fff;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Oxygen-Sans,Ubuntu,Cantarell,sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 300;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1em;
}

main {
    width: 90%;
    max-width: 600px;
    position: relative;
}


textarea {
    display: block;
    width: 100%;
    margin: 1em 0;
}

details {
    margin-bottom: 1em;
}

details[open] {
    margin-bottom: 2em;
}

details summary {
    font-weight: 600;
    margin-bottom: 1em;
    cursor: pointer;
}